@page "{id:Guid}"
@model TasksWebApp.Pages.DetailsModel


<div class="d-flex">
    <div class="flex-grow-1"><h2>Details</h2></div>
    <div><a asp-page="Index" class="btn btn-info m-2 pull-right">« Back </a></div>

</div>

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-12 py-2">
            <div class="card flex-row flex-wrap" style="min-width:22rem">

                <div class="mx-auto align-self-center p-3"><i class="fa fa-solid fa-list-alt fa-4x home-icon"></i></div>
                <div class="card-block flex-fill mx-auto p-2">
                    <h3 class="card-title">@Model.TodoItem?.Title </h3>
                    <p class="card-text">
                        @Model.TodoItem?.Description<br />
                        <span class="pull-right px-2 mx-auto">
                            <a class="px-2" asp-page="Edit" asp-route-id="@Model.TodoItem?.ID">Edit</a>
                            <a class="px-2 text-danger" asp-page="Delete" asp-route-id="@Model.TodoItem?.ID">Delete</a>
                        </span>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 py-2">
            <div class="card">
                <h5 class="card-header">Track Messages</h5>

                <div class="card-body">
                    <form asp-action="Details">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add New Message"><strong class="me-auto"><i class="fa fa-plus"></i></strong></button>
                            <button type="submit" asp-page-handler="unread" asp-route-id="@Model.TodoItem?.ID" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Show Unread Messages"><strong class="me-auto"><i class="fa fa-envelope"></i></strong></button>
                            <button type="submit" asp-page-handler="read" asp-route-id="@Model.TodoItem?.ID" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Show Read Messages"><strong class="me-auto"><i class="fa fa-envelope-open-o"></i></strong></button>
                        </div>
                    </form>

                    <div class="py-2 toast-container">
                        @foreach (var message in @Model.Messages)
                        {
                            var icon = message.UnRead == true ? "fa fa-envelope" : "fa fa-envelope-open-o";
                            <!-- Message -->
                            <div class="toast fade show" id="message-@message?.ID">
                                <div class="toast-header">
                                    <strong class="me-auto"><i class="@icon"></i> @message?.Subject </strong>
                                    <small>@message?.DateCreated</small>
                                    @if (message.UnRead == true)
                                    {
                                        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                                    }
                                </div>
                                <div class="toast-body">
                                    @message?.Body
                                </div>
                            </div>
                            <!-- End Message -->
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts
{
<script>
    $(document).ready(function () {

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $(".toast").toast({
            autohide: false
        });
});
</script>
}

